<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paginaLogin.css') }}" />  </head>
  <body>
    <div class="container">
      <!-- Barra Lateral -->
      <aside class="sidebar">
        <div class="playlist-thumbnails">
          <img src="mbappe.jpg" alt="Playlist 1">
          <img src="harry potter dinheiro.jpg" alt="Playlist 2">
          <img src="mao com dinheiro.jpg" alt="Playlist 3">
          <img src="Lego Batman🦇🦇.jpg" alt="Playlist 4">
          <img src="selfie final.jpg" alt="Playlist 5">
          <img src="jake apenas um show.jpg" alt="Playlist 5">
          <img src="pokémon help line.jpg" alt="Playlist 5">

        </div>
      </aside>
  
      <!-- Área Principal --> 
      <main class="main-content">
        <div class="playlist-header">
          <img class="playlist-cover" src="mbappe.jpg" alt="Playlist Cover">
          <div class="playlist-info">
            <h2>Playlist #1</h2>
            <p>por <span class="creator">eior</span></p>
          </div>
          <button class="play-btn">▶</button>
        </div>
  
        <table class="songs-table">
          <thead>
            <tr>
              <th>Título</th>
              <th>Reproduções</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="song-details">
                  <img src="cjota.jpg" alt="Song 1">
                  <span>Romeu - <small> por Cjota</small>
                </div>
              </td>
              <td>5.987.233</td>
            </tr>
            <tr>
              <td>
                <div class="song-details">
                  <img src="fe-meu-levado.jpg" alt="Song 2">
                  <span>Fé meu levado - <small>por Caio Ocean</small></span> 
                </div>
              </td>
              <td>1.287.233</td>
            </tr>
            <tr>
              <td>
                <div class="song-details">
                  <img src="bk.png" alt="Song 3">
                  <span>Só quero ver - <small>por BK</small></span> 
                </div>
              </td>
              <td>10.287.900</td>
            </tr>
            <tr>
              <td>
                <div class="song-details">
                  <img src="monacofree.jpg" alt="Song 4">
                  <span>Mônaco Freestyle - <small>por Veigh</small></span> 
              </td>
              <td>4.946.712</td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
